numpy == 1.18.2
scipy == 1.4.1
pandas == 1.0.3
statsmodels == 0.11.1
matplotlib  == 3.2.0
scikit-learn == 0.22.2
tensorflow == 1.14.0
Keras == 2.3.1
AdamW @ git+https://git@github.com/ryanhammonds/AdamW_Keras.git@master#egg=AdamW_Keras
clr @ git+https://git@github.com/ryanhammonds/CLR.git@master#egg=CLR
jupyter >=  1.0.0
